<tr>
  <td height="25">
  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="35"><img src="/assets/visitor/top/whitearrow_bullet.jpg" width="28" height="19" /></td>
      <td class="text_bold"><strong> FEATURED CHEAP USED CARS FOR SALE </strong></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td height="1" bgcolor="#999999"></td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top"></td>
    </tr>
    <tr>
      <td valign="top"></td>
    </tr>
    <tr>
      <td valign="top">
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="imageborder">
        <tr>
          <td>
          <table width="98%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr class="runing_text">
              <td width="20%" height="138" align="center" class="vr"><img src="/image-gd/imagesmall-car.php?http://www.funrapid.net/pixhost/cars/assets/visitor/top/a4z2a4i584f5c4z214r2v223d4g5s2f46423v274v2a46464b4b454c4y2845384a.jpg" alt="Used Bmw 5 Series car for sale" width="125" height="90" vspace="5"  border="0" align="top" class="imageborder" title="Used Bmw 5 Series car for sale" />
              <br />
              <a href="/browse-car/used+2008+bmw+5+series+coupe+car+for+sale-12661" class="text_bold" title="Bmw 5 Series Coupe&nbsp;Car for sale"> Bmw 5 Series</a>
              <br />
              <span class="price">Price : $43880</span></td>
              <td width="20%" height="138" align="center" class="vr"><img src="/image-gd/imagesmall-car.php?14632112691.jpg" alt="Used Ford Escape Xlt car for sale" width="125" height="90" vspace="5"  border="0" align="top" class="imageborder" title="Used Ford Escape Xlt car for sale" />
              <br />
              <a href="/browse-car/used+2001+ford+escape+xlt++sport+utility+car+for+sale-1845" class="text_bold" title="Ford Escape Xlt  Sport Utility&nbsp;Car for sale"> Ford Escape Xlt</a>
              <br />
              <span class="price">Price : $10999</span></td>
              <td width="20%" height="138" align="center" class="vr"><img src="/image-gd/imagesmall-car.php?7552244261.jpg" alt="Used Gmc Canyon 2wd Extended Cab car for sale" width="125" height="90" vspace="5"  border="0" align="top" class="imageborder" title="Used Gmc Canyon 2wd Extended Cab car for sale" />
              <br />
              <a href="/browse-car/used+2005+gmc+canyon+2wd+extended+cab+truck+car+for+sale-9953" class="text_bold" title="Gmc Canyon 2wd Extended Cab Truck for sale"> Gmc Canyon 2wd Extended Cab</a>
              <br />
              <span class="price">Price : Call for Price</span></td>
              <td width="20%" height="138" align="center" class="vr"><img src="/image-gd/imagesmall-car.php?18206920271.jpg" alt="Used Mercedes-benz Cls500 car for sale" width="125" height="90" vspace="5"  border="0" align="top" class="imageborder" title="Used Mercedes-benz Cls500 car for sale" />
              <br />
              <a href="/browse-car/used+2006+mercedes-benz+cls500+sedan+car+for+sale-9821" class="text_bold" title="Mercedes-benz Cls500 Sedan&nbsp;Car for sale"> Mercedes-benz Cls500</a>
              <br />
              <span class="price">Price : $39995</span></td>
              <td width="20%" height="138" align="center" class="vr"><img src="/image-gd/imagesmall-car.php?16708974443.jpg" alt="Used Toyota Tundra Sr5 car for sale" width="125" height="90" vspace="5"  border="0" align="top" class="imageborder" title="Used Toyota Tundra Sr5 car for sale" />
              <br />
              <a href="/browse-car/used+2008+toyota+tundra+sr5+truck+car+for+sale-8153" class="text_bold" title="Toyota Tundra Sr5 Truck for sale"> Toyota Tundra Sr5</a>
              <br />
              <span class="price">Price : $25264</span></td>
            </tr><tr></tr>
          </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table></td>
</tr>