<tr>
  <td align="center">
  <style type="text/css">
    <!-- .style1 {font-weight: bold} -->
  </style>
  <table width="999" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="60" align="center" class="text_bold" style="border-top:1px solid #999999; ">Copyright &copy; 2014, <a href="/" class="text_bold"><strong>Top Line Car</strong></a> .All Right Reserved.&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16854675-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript">
    ggv2id = 'da117de5';
  </script><script type="text/javascript" src="http://g2.gumgum.com/javascripts/ggv2.js"></script></td>
</tr>
<tr>
  <td><img src="/assets/visitor/top/top_img.jpg" width="999" height="9" /></td>
</tr>
</table>

<!-- start Vibrant Media IntelliTXT script section -->
<script type="text/javascript" src="http://toplinecar.us.intellitxt.com/intellitxt/front.asp?ipid=38626"></script>
<!-- end Vibrant Media IntelliTXT script section -->
</body>
</html>
