<td align="center" valign="top">
<table width="100%">
  <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1PX solid #343232;">
      <tr>
        <td height="35" background="/assets/visitor/top/quicksearch_bg.jpg">
        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="35"><img src="/assets/visitor/top/white_arrow_bullet.png" width="27" height="23" /></td>
            <td class="text1">CARS FOR SALE BY MANUFACTURER</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
        <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
<% M::Manufacturer.all.each_slice(2) do |m| %>
          <tr>
<%   m.each do |manu| %>
            <td width="42" align="center"><img src="/assets/visitor/top/square_bullet.jpg" width="11" height="11" /></td>
            <td width="231" height="20" align="left">
              <%= link_to manu.name, "#", class: "used_car" %>
            </td>
<%   end %>
          </tr>
<% end %>
          <tr>
            <td>&nbsp;</td>
            <td><a href="/browse-car" class="readmore">More...</a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"></td>
  </tr>
</table></td>
</tr>
</table></td>
</tr>