<td valign="top">
<table width="381" border="0" align="right" cellpadding="0" cellspacing="0">

  <tr>
    <td height="25">
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td class="text_bold">&nbsp;</td>
      </tr>
      <tr>
        <td width="35"><img src="/assets/visitor/top/whitearrow_bullet.jpg" width="28" height="19" /></td>
        <td class="text_bold"><strong> <h1 style="font-size:14px;">NEWS & CAR REVIEWS</h1> </strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#999999"></td>
  </tr>
  <tr>
    <td bgcolor="#F3F4F4">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#F3F4F4">
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F3F4F4">
      <% Car.limit(3).each do |car| %>
      <tr>
        <td width="80" valign="top">
          <%= image_tag car.image1, width: "111", height: "70" %>
        </td>
        <td valign="top">
        <table width="98%" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td><span class="blue_txt_bld">
              <%= link_to car.title, "#", class: "blue_txt_bld" %>
            </span><strong>
            <br />
            </strong></td>
          </tr>
          <tr>
            <td>
            <p>
              <%= car.description %>
            </p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="15"></td>
        <td height="12"></td>
      </tr>
      <% end %>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#F3F4F4">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#F3F4F4">&nbsp;</td>
  </tr>
</table></td>
</tr>
</table></td>
</tr>