<section id="life_cars-edit">
  <h1 class="page-title"><%= t ".title", name: @m_life_car.name %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_m_life_cars_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>