<section id="life_cars-new">
  <h1 class="page-title"><%=  t(".title") %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_m_life_cars_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>