<section id="prefectures-new">
  <h1 class="page-title"><%=  t(".title") %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_m_prefectures_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>