<section id="amounts-edit">
  <h1 class="page-title"><%= t ".title", amount: @m_amount.amount %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_m_amounts_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>