<section id="post_buy_cars-edit">
  <h1 class="page-title"><%= t ".title", title: @post_buy_car.title %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_post_buy_cars_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>