<section id="post_buy_cars-new">
  <h1 class="page-title"><%=  t(".title") %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_post_buy_cars_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>