<td width="732" valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
  </tr>
  <tr>
    <td>
    <table width="720" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <%= render partial: "/visitor/m_manufacturers/components/body_car", locals: {m: @m_manufacturer} %>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <%= render "/visitor/m_manufacturers/components/body_car_bottom" %>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table></td>