<section id="exteriors-edit">
  <h1 class="page-title"><%= t ".title", color: @exterior.color %></h1>
  <div class="actions">
    <%= link_to t(".back"), admin_exteriors_path, class: :btn %>
  </div>
  <%= render "form" %>
</section>